[Desktop Entry]
Version=1.0
Type=Application
Name=TINX
Exec=gtinxsh
Comment=A real time inference engine
Icon=tinx
Terminal=false
Categories=Development

