[Desktop Entry]
Encoding=UTF-8
Name=TINX
Version=6.3.0
Comment=Real time inference engine for temporal logic specifications
Exec=/usr/bin/gtinxsh
Icon=/usr/share/icons/hicolor/512x512/apps/tinx.png
Terminal=false
Type=Application
Categories=Development
GenericName=Real time inference engine
StartupNotify=false
